---
layout: default
---
<section id="main" class="container {{ page.box_width }}">
  {% if page.title %}
    <header>
      <h2>{{ page.title }}</h2>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
      {% if page.date %}
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
        </p>
      {% endif %}
      {% if page.author %}
        <br/>
        <span itemprop="author" itemscope
              itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ page.author.display_name }}
          </span>
        </span>
      {% endif %}
    </header>
  {% endif %}
  <div class="row">
    <div class="12u">
      <!-- Text -->
      <section class="box">
        {{ content }}
      </section>
    </div>
  </div>

  <div class="row">
    <div class="12u">
      <!-- Text -->
      <section class="box">
        {% include comments/disqus %}
      </section>
    </div>

  </div>
</section>
